html body {
  font-family: "Lato", serif;
  width: 100%;
  height: 100%;
  margin: 0px;  }

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 1920px) {
    .wrapper {
      max-width: 1920px; } }
  @media (max-width: 992px) {
    .wrapper {
      max-width: 992px; } }
  @media (max-width: 767px) {
    .wrapper {
      max-width: 767px; } }
  @media (max-width: 320px) {
    .wrapper {
      max-width: 320px; } }

.container {
  padding: 0px 0px; }

.title {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.16em;
  text-align: center;
  position: relative;
  padding: 0px 0px 40px 0px; }
  @media (max-width: 767px) {
    .title {
      font-size: 24px;
      padding: 0px 0px 20px 0px; } }
  .title:after {
    content: "";
    position: absolute;
    width: 81px;
    bottom: 0;
    height: 1px;
    left: 50%;
    background-color: #000000;
    margin: 0px 0px 0px -45px; }

.button-container {
  width: 182px;
  height: 47px;
  border: 1px solid #000000;
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.read-more-button {
  font-size: 16px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase; }

.header {
  height: 100vh;
  max-width: 100%;
  background-image: url("../img/header/background_header.jpg");
  background-repeat: no-repeat;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .header__container {
    max-height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10% 0;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05); }
    @media (max-width: 767px) {
      .header__container {
        padding: 5% 0; } }
  .header__logo {
    width: 195px;
    height: 123px;
    padding: 5%; }
  .header__title {
    color: #ffffff;
    font-size: 34px;
    font-weight: 900;
    padding: 5% 0%;
    margin: 15px; }
    @media (max-width: 767px) {
      .header__title {
        font-size: 26px; } }
    .header__title:after {
      background-color: #ffffff; }
    .header__title span {
      font-size: 26px;
      line-height: 40px;
      font-weight: 400;
      text-transform: none; }
      @media (max-width: 767px) {
        .header__title span {
          font-size: 20px; } }
  .header__button-container {
    border: 1px solid #ffffff;
    margin: 15%; }
    @media (max-width: 767px) {
      .header__button-container {
        margin: 5%; } }
    .header__button-container:hover {
      -webkit-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s;
      border: 2px solid #ffffff; }
  .header__button {
    color: #ffffff; }
  .header__arrow {
    width: 17px;
    height: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .header__arrow:hover {
      padding-top: 5px; }

.menu {
  min-width: 430px;
  height: 50px;
  background-color: #ffffff;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 20px; }
  @media (max-width: 767px) {
    .menu {
      min-width: 320px; } }
  .menu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #3c3c3c;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 0 25px; }
    @media (max-width: 767px) {
      .menu__link {
        padding: 0 5px;
        margin: 0px 0px; } }
    .menu__link:hover {
      font-weight: 700;
      color: #ada074; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.about {
  background-color: #ffffff; }
  .about__container {
    max-width: 830px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px 0px; }
  .about__header {
    margin: 5% auto; }
  .about__title {
    color: #000000; }
    .about__title:after {
      background-color: #000000; }
  .about__subtitle {
    max-width: 700px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    color: #868585;
    margin: 30px; }
  .about__row {
    max-width: 826px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 5% 0; }
    @media (max-width: 992px) {
      .about__row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }

.item-about {
  max-width: 270px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0 33.333%;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px; }
  .item-about__icon {
    width: 42px;
    height: 32px;
    border: 2px solid #f8f7f7;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 24px 30px 26px;
    margin: 0 0 35px 0; }
  .item-about__title {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000000;
    padding: 0px 0px 30px 0px; }
    .item-about__title span {
      text-transform: lowercase; }
  .item-about__text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #868585;
    text-align: center; }

.portfolio {
  width: 100%;
  background-color: #f8f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .portfolio__container {
    max-width: 1130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 65px; }
  .portfolio__menu {
    min-width: 300px;
    background-color: #f8f7f7;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .portfolio__title {
    margin: 40px; }
  .portfolio__portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /*grid-gap: 15px 25px;*/
    margin: 65px 0px; }
    @media (max-width: 1105px) {
      .portfolio__portfolio {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 35px 0px; } }
  .portfolio__link-container {
    margin: 7px 15px 7px 15px; }
    .portfolio__link-container:hover {
      margin: 5px 15px 9px 15px; }
    @media (max-width: 767px) {
      .portfolio__link-container {
        margin: 5px 15px 9px 15px; } }
  .portfolio__link {
    max-width: 535px;
    max-height: 335px; }
    @media (max-width: 767px) {
      .portfolio__link {
        width: 300px;
        height: 200px; } }
    .portfolio__link:hover {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 2px solid #ada074; }
  .portfolio__button-container {
    border: 1px solid #000000; }
    .portfolio__button-container:hover {
      -webkit-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s;
      border: 2px solid #000000; }

.partners {
  width: 100%;
  max-height: 390px;
  background-image: url("../img/partners/backgroundForPartners.png");
  background-repeat: no-repeat;
  background-position: bottom; }
  .partners__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5%; }
  .partners__title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding-bottom: 50px; }
  .partners__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 767px) {
      .partners__links {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr; } }
  .partners__link {
    margin: auto 50px;
    padding: 5px; }
    @media (max-width: 767px) {
      .partners__link {
        margin: 10px 20px; } }
    .partners__link:hover {
      padding: 10px 5px 0px 5px; }

.contact {
  background-color: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contact__container {
    max-width: 730px;
    padding: 5%; }
  .contact__title {
    margin: 10%;
    color: #000000; }
    .contact__title:after {
      background-color: #000000; }
  .contact__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 100px; }
    @media (max-width: 767px) {
      .contact__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 50px; } }
  .contact__column {
    margin: 0 40px 0 0; }
    @media (max-width: 767px) {
      .contact__column {
        margin: 0 20px 0 20px; } }
  .contact__form {
    width: 390px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 767px) {
      .contact__form {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .contact__form label {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: #000000;
      display: block; }
    .contact__form input {
      width: 160px;
      height: 35px;
      background-color: #f8f7f7;
      border-style: none;
      border-top: 1px solid #000000;
      margin: 20px 0px; }
      @media (max-width: 767px) {
        .contact__form input {
          width: 300px; } }
    .contact__form textarea {
      width: 383px;
      height: 118px;
      background-color: #f8f7f7;
      border-style: none;
      border-top: 1px solid #000000;
      margin: 20px auto; }
      @media (max-width: 767px) {
        .contact__form textarea {
          width: 300px; } }
    .contact__form button {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: #000000;
      width: 50px;
      height: 20px;
      border: none;
      background-color: #ffffff;
      -ms-flex-item-align: end;
      align-self: flex-end;
      margin: 40px 0; }
      @media (max-width: 767px) {
        .contact__form button {
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; } }
      .contact__form button:hover {
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        font-weight: 900; }
        @media (max-width: 767px) {
          .contact__form button:hover {
            font-size: 18px; } }
  .contact__form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 75px; }
    @media (max-width: 767px) {
      .contact__form-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 55px; } }
  .contact__appeal {
    width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 767px) {
      .contact__appeal {
        margin: 0 0 0 60px; } }
    .contact__appeal p {
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
      color: #000000; }
    .contact__appeal span {
      font-weight: 700; }
  .contact__icon {
    border: 2px solid #000000;
    border-radius: 50%;
    padding: 4px 6px;
    margin: 0 15px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .contact__icon:hover {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      border: 3px solid #000000; }
  .contact a {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-decoration: none; }

.footer {
  height: 275px;
  background-color: #3c3c3c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px; }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__logo {
    width: 122px;
    height: 78px;
    margin: 20px; }
  .footer__menu {
    max-width: 235px;
    background-color: #3c3c3c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px; }
    .footer__menu a {
      font-size: 14px;
      text-transform: none;
      color: #a4a4a4;
      padding: 0 11px; }
      @media (max-width: 767px) {
        .footer__menu a {
          padding: 0 5px; } }
      .footer__menu a:hover {
        font-weight: 700;
        color: #ada074; }
  .footer__copy {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #6c6c6c; }
